<h1>Eat a Burger!</h1>

<img src = "/assets/img/burger.png" class = "pic"/>

<ol class = "list">
    {{#each burgers}}
      {{#unless burger_eaten}}
        {{>burger-buttons}}
        <br>
      {{/unless}}
    {{/each}}
</ol>

<h2 class="eaten">Eaten Burgers</h2>

<ol class="eaten-list">
    {{#each burgers}}
      {{#if burger_eaten}}
        {{>burger-buttons}}
      {{/if}}
    {{/each}}  
</ol>

<h2 class="center">Add a Burger!</h2>

<form class="create-form">
  <div class="form-group">
    <label for="add-burger">Burger Name</label>
    <input type="text" id="add-burger" name="name">
  </div>
   <button type="submit">Add Burger</button>
</form>