<h1>Eat a Burger!</h1>

<img src = "burger.jpg"/>

<ul>
    {{#each burgers}}
      {{#unless eaten}}
        {{>burger-buttons eaten=false}}
      {{/unless}}
    {{/each}}
</ul>

<h2>Eaten Burgers</h2>

<ul>
    {{#each burgers}}
      {{#if eaten}}
        {{> burger-buttons eaten=true}}
      {{/if}}
    {{/each}}  
</ul>

<h2>Add a Burger!</h2>

<form class="create-form">

  <div class="form-group">
    <label for="add-burger">Burger Name</label>
    <input type="text" id="add-burger" name="name">
  </div>
   <button type="submit">Add Burger</button>
</form>